
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="contact">contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="profile">profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="gallery" >gallery</a>
    </li>
  </ul>
  <h1>contact us</h1>
  <div class="image">
    <div class="btn">
      <input type="text" placeholder="FIRSTNAME"/>
      <input type="text"placeholder="LASTNAME" />
    </div>
    <div class="btn">
      <input type="text" placeholder="EMAIL"/>
      <input type="number"placeholder="PHONE NUMBER" />
    </div>
    <div class="btn">
      <input class="m" type="text" placeholder="YOUR MESSAGE HERE"/>
    </div>
    <div class="btn">
      <input class="s" type="submit" placeholder="YOUR MESSAGE HERE"/>
    </div>
  </div>
  <router-outlet></router-outlet>