
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="contact">contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="profile">profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="gallery" >gallery</a>
    </li>
  </ul>
  <h1>MY GALLERY</h1>
  <div class="image">
    <div class="flex">
      <img src="assets/image1.jpg">
      <img src="assets/image2.jpg">
      <img src="assets/image3.jpg">
    </div></div>
  <router-outlet></router-outlet>
  