
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="contact">contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="profile">profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"routerLink="gallery" >gallery</a>
    </li>
  </ul>
  <h1>PERSONAL  PROFILE</h1>
  <div class="image">
    <img src="assets/image1.jpg">
    <h2><span>Jamelle Cleofe Nesus Cuna</span></h2>
    <h2>"but you can call me jaja"</h2>
  <p>A simple girl, living in a simple world. <br>19 years of age born on April 26, 2001 from Jaro, Leyte <br>and still studying at Eastern Visayas State University <br>carigara campus. Taking up BSIT and currently a <br>2nd year college student section B.</p>
  <button>Download</button>
  
  </div>
  <router-outlet></router-outlet>
  